# Data Types

In [1]:
type(3.5)

float

In [2]:
type(1212121212)

int

In [6]:
type(3.5)

float

In [7]:
type(56.7777777777)

float

In [6]:
#Text -String -'' or ""

In [7]:
'hello'

'hello'

In [9]:
type('hello')

str

In [10]:
type("Hello Python")

str

In [11]:
type("1")

str

In [12]:
type(1)

int

In [13]:
True

True

In [14]:
type(True)

bool

In [15]:
type(False)

bool

In [16]:
1+2

3

# Variables

In [17]:
a=10

In [18]:
a

10

In [19]:
type(a)

int

In [20]:
a="Hello"

In [21]:
type(a)

str

In [22]:
a

'Hello'

In [8]:
a=2.5

In [9]:
type(a)

float

In [10]:
a=True

In [11]:
type(a)

bool

In [27]:
a=3

In [28]:
b=4

In [29]:
c=a+b

In [30]:
c

7

In [31]:
a="Hello"

In [30]:
b=7

In [31]:
#Strong Type
a+b

TypeError: can only concatenate str (not "int") to str

In [32]:
print(
    ''This is python class")

This is python class

In [33]:
print('This is python class')

This is python class

In [34]:
print("This is 'python' class")

This is 'python' class

In [35]:
print(' "This" is \'python\' class ')

 "This" is 'python' class

In [36]:
print("This is python\nclass")#\n --new line

This is python
class

In [37]:
print("This is python\tclass")#\t -- tab space

This is python	class

In [38]:
print(r"C:\Program Files\nodejs")

C:\Program Files\nodejs

In [39]:
a="Hello"

In [40]:
type(a)

str

In [41]:
b=" World"

In [42]:
a+b

'Hello World'

In [43]:
a

'Hello'

In [44]:
a[0]

'H'

In [45]:
a[1]

'e'

In [46]:
a[2]

'l'

In [47]:
a[3]

'l'

In [48]:
a[4]

'o'

In [49]:
s="python"

In [50]:
s[0]

'p'

In [51]:
s[1]

'y'

In [52]:
s

'python'

In [53]:
s[0:3]#0:3 -- 0 to 2 included upper limit is always vomited in python

'pyt'

In [126]:
s(0:2)

SyntaxError: invalid syntax (<ipython-input-126-af13cda69e0a>, line 1)

In [55]:
s

'python'

In [56]:
s[1:4]#1 ,2 ,3

'yth'

In [57]:
s

'python'

In [58]:
s[2:6]

'thon'

In [59]:
s[:]#2: -- from 2 to everything

'thon'

In [60]:
s

'python'

In [61]:
s[0:4]

'pyth'

In [62]:
s[:4]#0,1,2,3

'pyth'

In [63]:
s

'python'

In [64]:
s[-1]

'n'

In [65]:
s[-2]

'o'

In [66]:
s[-3]

'h'

In [67]:
s[-5]

'y'

In [68]:
s[-6]

'p'

In [69]:
s

'python'

In [70]:
s[-4:-1]#=4,-3,-2

'tho'

In [71]:
s[-6:-4]

'py'

In [72]:
#functions

In [73]:
s

'python'

In [74]:
s=s.capitalize()

In [75]:
s

'Python'

In [76]:
s[0]

'P'

In [77]:
s

'Python'

In [78]:
s[0]

'P'

In [79]:
s="python"

In [80]:
s[0]="y"

TypeError: 'str' object does not support item assignment

In [34]:
s='python'

In [44]:
s.lower()

'python'

In [40]:
s1=s.upper()

In [41]:
s1

'PYTHON'

In [83]:
s=s.upper()

In [84]:
s.lower()

'python'

In [85]:
s

'PYTHON'

In [45]:
s.find("Y")#Get index based on char

1

In [46]:
s.find("N")

5

In [88]:
s.find("THON")

2

In [49]:
p="pavan"

In [52]:
p.find("z")#-1-no such char

-1

In [91]:
s=s.lower()

In [69]:
s

'PYTHON'

In [70]:
a=s.replace("PY","hack") #old string,new string

In [71]:
s

'PYTHON'

In [72]:
a

'hackTHON'

In [73]:
s.count("c")

0

In [74]:
s="hello python"

In [75]:
s[5]

' '

In [76]:
s.find("p")

6

In [77]:
s=" "

In [78]:
s

' '

In [1]:
s='sai paavaaaaaann somesh paa paa paa paa paa paa '

In [2]:
s.count('paa',0,)#how many char we have in that string

7

In [121]:
s='pavan'

In [122]:
s.islower()

True

In [107]:
s

'hello python'

In [108]:
s=s.capitalize()

In [109]:
s

'Hello python'

In [110]:
s.islower()

False

In [113]:
s.capitalize() #Only first word capitalizes

'Hello python'

In [112]:
s.title() #Every  words get capitalized

'Hello Python'

In [123]:
s="python"

In [124]:
s.title()

'Python'

In [125]:
s.capitalize()

'Python'

In [139]:
s="This is class"

In [125]:
l=list['1','pavaan','somesh','3.5']
t=('1,'pavaan','somesh','3.5')

TypeError: 'type' object is not subscriptable

In [140]:
s.split() #convert string to list

['This', 'is', 'python', 'class']

In [147]:
s="This@python"

In [150]:
s.split(sep="@")#sep-seperator

['This', 'python']

In [160]:
s="1"

In [161]:
s

'1'

In [162]:
s.isnumeric()#whether all char are number or not

True

In [163]:
s.isalpha()

False

In [164]:
s="Hello"

In [165]:
s.isnumeric()

False

In [166]:
s.isalpha()

True

# List

In [1]:
l=[]

In [2]:
type(l)

list

In [3]:
l=[1,2,"Hello",4.5,True,False]

In [4]:
l

[1, 2, 'Hello', 4.5, True, False]

In [9]:
l[5]='true'

In [7]:
l

[1, 2, 'Hello', 4.5, True, 'true']

In [181]:
l[-1]

False

In [182]:
l[-3]

4.5

In [183]:
l

[1, 2, 'Hello', 4.5, True, False]

In [184]:
l[2:4]

['Hello', 4.5]

In [185]:
l[3:]

[4.5, True, False]

In [186]:
l[2:]

['Hello', 4.5, True, False]

In [188]:
l

[1, 2, 'Hello', 4.5, True, False]

In [187]:
l[0]

1

In [189]:
l[0]=5

In [190]:
l

[5, 2, 'Hello', 4.5, True, False]

In [191]:
l[1]="Python"

In [193]:
l

[5, 'Python', 'Hello', 4.5, True, False]

In [194]:
 l.append(6) #Appends object at the end.

In [195]:
l

[5, 'Python', 'Hello', 4.5, True, False, 6]

In [198]:
l.append("hello")  #Python append() method adds an element to a list, and the 
                   #extend() method concatenates the first list with another list (or another iterable).

In [199]:
l

[5, 'Python', 'Hello', 4.5, True, False, 6, 10, 'hello']

In [200]:
l.insert(3,"Data") #inserts data at certain position

In [201]:
l

[5, 'Python', 'Hello', 'Data', 4.5, True, False, 6, 10, 'hello']

In [203]:
l.pop()

'hello'

In [204]:
l

[5, 'Python', 'Hello', 'Data', 4.5, True, False, 6, 10]

In [205]:
l.pop()

10

In [3]:
l

NameError: name 'l' is not defined

In [207]:
l.pop(2)

'Hello'

In [208]:
l

[5, 'Python', 'Data', 4.5, True, False, 6]

In [209]:
l.remove("Python") #remove removes first occurence.
                   #del removes the item at a specific index
                   #POP removes at specific index and returns that value.

In [217]:
l

[5, 'Data', 4.5, True, 6]

In [219]:
l.remove(True)

In [220]:
l

[5, 'Data', 4.5, 6]

In [221]:
l

[5, 'Data', 4.5, 6]

In [222]:
l=[1,1,1,"Hello","Python","Hello"]

In [223]:
l

[1, 1, 1, 'Hello', 'Python', 'Hello']

In [224]:
l.count(1)

3

In [12]:
l.count("Hello")

NameError: name 'l' is not defined

In [226]:
l.count("Python")

1

In [227]:
l.count(2)

0

In [228]:
l

[1, 1, 1, 'Hello', 'Python', 'Hello']

In [229]:
l.reverse()

In [230]:
l

['Hello', 'Python', 'Hello', 1, 1, 1]

In [231]:
d=[1,2,3,4,5]

In [232]:
d.reverse() #reverses list

In [233]:
d

[5, 4, 3, 2, 1]

In [234]:
l1=[1,4,2,1,1,5,6,2,7,3]

In [235]:
l1.sort() #sorts accordingly

In [236]:
l1

[1, 1, 1, 2, 2, 3, 4, 5, 6, 7]

In [237]:
l1.sort(reverse=True)

In [238]:
l1

[7, 6, 5, 4, 3, 2, 2, 1, 1, 1]

In [239]:
l1=["Hello",1,2,3,4,"Python"]

In [241]:
l1.reverse()

In [242]:
l1

['Python', 4, 3, 2, 1, 'Hello']

In [243]:
l1.index(4)

1

In [4]:
l1=[1,2,3,4]

In [5]:
l2=[5,6,7,8]

In [10]:
l1+l2

[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8]

In [6]:
l1.extend(l2)#Python append() method adds an elements to a list, and the 
            #extend() method concatenates the first list with another list (or another iterable).

In [7]:
l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [8]:
l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
l2

[5, 6, 7, 8]

In [252]:
l2.extend(l1) # Extends list by appending elements.

In [253]:
l2

[5, 6, 7, 8, 1, 2, 3, 4]

In [255]:
l1

[1, 2, 3, 4]

In [256]:
l1.clear()

In [257]:
l1

[]

In [258]:
l=[1,2,3,4,[1,2,3,4]]#Nested List

In [259]:
l

[1, 2, 3, 4, [1, 2, 3, 4]]

In [260]:
l[-1]

[1, 2, 3, 4]

In [266]:
l[4][0:3]

[1, 2, 3]

In [267]:
l=[[1,2,3],[3,4,5]]

In [268]:
l

[[1, 2, 3], [3, 4, 5]]

In [280]:
l[0][0],l[1][0]

(1, 3)

In [1]:
l=[1,2,3,4]

In [2]:
l2=[3,4,5]

In [6]:
l+l2

[1, 2, 3, 4, 3, 4, 5]

In [1]:
l=[1,2,3,4]

In [4]:
l2=[3,6,4,5]

In [5]:
l.append(l2)

In [6]:
l

[1, 2, 3, 4, [3, 4, 5], [3, 6, 4, 5]]

In [7]:
l.insert(4,l2)

In [8]:
l

[1, 2, 3, 4, [3, 6, 4, 5], [3, 4, 5], [3, 6, 4, 5]]

In [292]:
l

[1, 2, 3, 4, [3, 4, 5], [3, 4, 5]]

In [293]:
l2

[3, 4, 5]

# Tuple

In [1]:
t=(g)

In [13]:
l=(1,2,2.5,'pavan',[6,6,3])

In [14]:
l

(1, 2, 2.5, 'pavan', [6, 6, 3])

In [17]:
k=[2,2.5,'pavan',(6,6,3)]

In [18]:
k

[2, 2.5, 'pavan', (6, 6, 3)]

In [2]:
type(t)

tuple

In [3]:
t=(1,2,3,"Hello",6,True,[1,2,3,4],False,6.5)

In [4]:
t

(1, 2, 3, 'Hello', 6, True, [1, 2, 3, 4], False, 6.5)

In [5]:
t[0]

1

In [7]:
t[4]

6

In [6]:
t[-1]

6.5

In [8]:
t[2:4]

(3, 'Hello')

In [9]:
t[5:7]

(True, [1, 2, 3, 4])

In [11]:
t[4]=6

TypeError: 'tuple' object does not support item assignment

In [12]:
t

(1, 2, 3, 'Hello', 6, True, [1, 2, 3, 4], False, 6.5)

In [13]:
t[6]

[1, 2, 3, 4]

In [14]:
t[6][2]=6

In [15]:
t

(1, 2, 3, 'Hello', 6, True, [1, 2, 6, 4], False, 6.5)

In [16]:
t

(1, 2, 3, 'Hello', 6, True, [1, 2, 6, 4], False, 6.5)

In [17]:
t.count(2)

1

In [19]:
t=(1, 2, 3,3,4,5,5, 'Hello', 6, True, [1, 2, 6, 4], False, 6.5)

In [20]:
t

(1, 2, 3, 3, 4, 5, 5, 'Hello', 6, True, [1, 2, 6, 4], False, 6.5)

In [21]:
t.count(3)

2

In [22]:
t.count(5)

2

In [23]:
t.count(4)

1

In [25]:
t.index(3)

2

In [26]:
t=(1, 2, 3,3,4,5,5, 'Hello', 6, True, [1, 2, 6, 4], False, 6.5,(1,2,3,4))

In [32]:
t=("Abhishek",25,"Hyderabad")

# Dict

In [30]:
d={}

In [31]:
type(d)

dict

In [97]:
d={"Name":"Abhishek","Age":25,"City":"Hyderabad"}

In [34]:
d

{'Name': 'Abhishek', 'Age': 25, 'City': 'Hyderabad'}

In [36]:
d["Name"]

'Abhishek'

In [38]:
d["Age"]

25

In [39]:
d["City"]

'Hyderabad'

In [40]:
d

{'Name': 'Abhishek', 'Age': 25, 'City': 'Hyderabad'}

In [41]:
d={"Data":"123"}

In [42]:
d

{'Data': '123'}

In [46]:
d={(1,2,3,4):"123","Name":'Abhishek'}

In [47]:
d

{(1, 2, 3, 4): '123', 'Name': 'Abhishek'}

In [48]:
d[(1, 2, 3, 4)]

'123'

In [49]:
d={[1,2,3,4]:"123","Name":'Abhishek'}

TypeError: unhashable type: 'list'

In [52]:
d

{'Name': 'Abhishek', 'Age': 25, 'City': 'Hyderabad'}

In [53]:
d["Name"]="Mahesh"

In [55]:
d

{'Name': 'Mahesh', 'Age': 25, 'City': 'Hyderabad'}

In [56]:
d["Age"]=35

In [57]:
d

{'Name': 'Mahesh', 'Age': 35, 'City': 'Hyderabad'}

In [58]:
d={'Name': ["Abhishek","Mahesh"], 'Age': 35.5, 'City': 'Hyderabad'}

In [59]:
d

{'Name': ['Abhishek', 'Mahesh'], 'Age': 35.5, 'City': 'Hyderabad'}

In [60]:
d={'Name': {"Test":"Data"}, 'Age': 35.5, 'City': 'Hyderabad'}

In [65]:
d={"Name":"Abhishek","Age":25,"City":"Hyderabad"}

In [66]:
d["Age"]

25

In [67]:
d.get("Age")

25

In [68]:
d

{'Name': 'Abhishek', 'Age': 25, 'City': 'Hyderabad'}

In [69]:
d.keys()

dict_keys(['Name', 'Age', 'City'])

In [75]:
d.values()

dict_values(['Abhishek', 25, 'Hyderabad'])

In [76]:
d

{'Name': 'Abhishek', 'Age': 25, 'City': 'Hyderabad'}

In [77]:
d["Mobile"]="123456789"

In [78]:
d

{'Name': 'Abhishek', 'Age': 25, 'City': 'Hyderabad', 'Mobile': '123456789'}

In [79]:
d["Blood Group"]="o+"

In [80]:
d

{'Name': 'Abhishek',
 'Age': 25,
 'City': 'Hyderabad',
 'Mobile': '123456789',
 'Blood Group': 'o+'}

In [81]:
d.update({"Name":"Mahesh"}) #update updates the keys or values

In [82]:
d

{'Name': 'Mahesh',
 'Age': 25,
 'City': 'Hyderabad',
 'Mobile': '123456789',
 'Blood Group': 'o+'}

In [83]:
d.update({"ID":"1234"})

In [84]:
d

{'Name': 'Mahesh',
 'Age': 25,
 'City': 'Hyderabad',
 'Mobile': '123456789',
 'Blood Group': 'o+',
 'ID': '1234'}

In [86]:
#Remove key value pair based on key
d.pop("ID")

'1234'

In [88]:
d

{'Name': 'Mahesh',
 'Age': 25,
 'City': 'Hyderabad',
 'Mobile': '123456789',
 'Blood Group': 'o+'}

In [89]:
d.pop("Name")

'Mahesh'

In [90]:
d

{'Age': 25, 'City': 'Hyderabad', 'Mobile': '123456789', 'Blood Group': 'o+'}

In [95]:
#removes last inserted key,value pair
d.popitem()

('City', 'Hyderabad')

In [96]:
d

{'Age': 25}

In [98]:
d

{'Name': 'Abhishek', 'Age': 25, 'City': 'Hyderabad'}

In [100]:
d

{'Name': 'Abhishek', 'Age': 25, 'City': 'Hyderabad'}

In [101]:
d={'Name': {"Test":"Data"}, 'Age': 35.5, 'City': 'Hyderabad'}

In [105]:
d["Name"]

{'Test': 'Data'}

In [147]:
d={'Name':["Mahesh","Abhishek"], 'Age': 35.5, 'City': 'Hyderabad'}

In [164]:
d.fromkeys(["Abhishek","Age","City"],"data")

{'Abhishek': 'data', 'Age': 'data', 'City': 'data'}

In [112]:
d.clear()

In [113]:
d

{}

# Built In Functions In Python

In [122]:
#len-how many element we have

In [114]:
s="Hello"

In [115]:
len(s)

5

In [118]:
l=[1,2,3,4,5,7,8,"Hello"]

In [119]:
len(l)

8

In [120]:
d={"Name":"Abhishek","Age":25}

In [121]:
len(d)

2

In [123]:
l=[1,2,3,4,5,6]

In [124]:
max(l)

6

In [126]:
min(l)

1

In [127]:
l=["Name","Hello",1,2,3,4]

In [129]:
a=10

In [130]:
b=20

In [131]:
a==20

False

In [132]:
a<b

True

In [133]:
a>b

False

In [138]:
10<20 and 50>60

False

In [142]:
10>20 or 50>60

False

In [11]:
a=10

In [12]:
a!=10

False

In [1]:
l=["Hello",1,2,3,4,"Python"]

In [2]:
1 in l

True

In [3]:
5 in l

False

In [4]:
"Hello" in l

True

In [5]:
"Python" in l

True

In [6]:
d={"Name":"Abhishek","Age":30}

In [10]:
('Age', 30) in d.items()

True

In [11]:
s="Hello"

In [12]:
"l" in "Hello"

True

In [13]:
"p" in "Hello"

False

# Set

In [38]:
se={1,2,3,4,"Hello",True,(1,2,3,4),4.5}

In [39]:
type(se)

set

In [40]:
se

{(1, 2, 3, 4), 1, 2, 3, 4, 4.5, 'Hello'}

In [5]:
se={1,1,2,2,2,3,3,3,4,5}

In [6]:
se

{1, 2, 3, 4, 5}

In [1]:
l=[1,3,4,5,5,5,6,6,7]

In [2]:
l

[1, 3, 4, 5, 5, 5, 6, 6, 7]

In [4]:
set(l)

{1, 3, 4, 5, 6, 7}

In [7]:
se

{1, 2, 3, 4, 5}

In [10]:
#It adds an element into the set
se.add(6)

In [11]:
se

{1, 2, 3, 4, 5, 6}

In [13]:
se.add(6)

In [14]:
se

{1, 2, 3, 4, 5, 6}

In [16]:
#Add multiple elements into the set
se.update({7,8,9,10})

In [17]:
se

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [18]:
#remove element based on value
se.remove(4)

In [19]:
se

{1, 2, 3, 5, 6, 7, 8, 9, 10}

In [20]:
se.pop()

1

In [21]:
se

{2, 3, 5, 6, 7, 8, 9, 10}

In [22]:
se.pop()

2

In [23]:
se

{3, 5, 6, 7, 8, 9, 10}

In [24]:
#discard element based on value
se.discard(7)

In [25]:
se

{3, 5, 6, 8, 9, 10}

In [26]:
se.remove(11)#throw an errror if element is not present

KeyError: 11

In [27]:
se.discard(11)# ignore if element is not present

In [28]:
se

{3, 5, 6, 8, 9, 10}

In [89]:
se={"Hello","1",2,3}
se1={"Hello",2,3}

In [90]:
se.intersection(se1)

{2, 3, 'Hello'}

In [31]:
se

{1, 2, 3, 4}

In [32]:
se1

{1, 2, 5, 6}

In [34]:
a

{1, 2}

In [35]:
se.intersection_update(se1)

In [36]:
se

{1, 2}

In [38]:
se1

{1, 2, 5, 6}

In [44]:
se={1,2,3,4,5}
se1={1,2,5,6}

In [45]:
se.symmetric_difference(se1)

{3, 4, 6}

In [46]:
se.difference(se1)

{3, 4}

In [47]:
se1.difference(se)

{6}

In [48]:
se.union(se1)

{1, 2, 3, 4, 5, 6}

In [49]:
se.update(se1)

In [50]:
se

{1, 2, 3, 4, 5, 6}

In [75]:
se={1,2,3,4,5}
se1={1,2}

In [76]:
se

{1, 2, 3, 4, 5}

In [77]:
se1

{1, 2}

In [78]:
#True--Dont have intersection/common elements
#False--have intersection/common elements
se.isdisjoint(se1)

False

In [80]:
se={1,2,3,4,5,6}
se1={1,2}

In [85]:
se1.issubset(se)

True

In [84]:
se.issuperset(se1)

True

In [87]:
s=

In [88]:
s

{'1', 2, 3, 'Hello'}